<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138523150733-jj2tthgadka57ukfpp05vbd6iot433pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138523150733-jj2tthgadka57ukfpp05vbd6iot433pi</string>
	<key>API_KEY</key>
	<string>AIzaSyBuEUn7ZKREtVYPtjGqZLt59uTu9K5Hebo</string>
	<key>GCM_SENDER_ID</key>
	<string>138523150733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mealgenies.zotfeast</string>
	<key>PROJECT_ID</key>
	<string>zotfeast</string>
	<key>STORAGE_BUCKET</key>
	<string>zotfeast.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138523150733:ios:6b364a3a9ceff5225dd5c4</string>
</dict>
</plist>